@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffddcf;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.searchbox{
  width: 50%;
  height: 75px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  z-index: 1;
  border-radius: 20px;
  border: 1px solid #000;
  display: grid;
  align-items: center;
  padding: 10px 20px;
}

.locationbox{
  position: absolute;
  right: 50px;
  bottom: 50px;
  z-index: 1;
}
.form-control{
  border-radius: 5px;
  color: #fff;
  padding-left: 10px;
}

.roundbox{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #fa0;
}

.makethiscenter{
  display: grid;
  align-items: center;
  justify-content: center;
}

.btn{
  width: 100%;
  border-radius: 20px;
}